<div class="row">
  <div class="d-lg-flex col">
      <div class="card">
          <div class="card-body">
              <h6 class="card-subtitle sm-2 text-muted" style="font-size: xx-small;">{{ productLocale }}</h6>
              <h5 class="card-title">{{ item.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ item.price | currency: 'BRL' }}</h6>
              <p class="card-text">{{ item.description }}</p>
              <hr />
              <button (click)="checkOut()" type="button" class="btn btn-sm btn-primary" style="margin-right: 5px;">
                  <i class="bi bi-bag"></i>
              </button>
              <button type="button" class="btn btn-sm btn-secondary" disabled>
                  <i class="bi bi-bookmark-heart"></i>
              </button>

          </div>
      </div>
  </div>
</div>
