<div class="container" style="margin-right: -25px;">
  <div class="container">
    <div class="row justify-content-end" style="margin-left: -20px; margin-bottom: 10px;">
      <div class="col-12">
        <button type="button" (click)="onCheckoutClick()" class="btn btn-primary position-relative">
          Checkout <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">{{numberItens}}
            <span class="visually-hidden">Itens</span></span>
        </button>
      </div>
    </div>
  </div>
  <table class="table table-success table-borderless">
    <tbody>
      <div class="container">
        <div class="row">
          <div *ngFor="let item of cartItens" class="col-12">
            <app-checkout-item (deleteItem)="onDeleteItemClick($event)"></app-checkout-item>
            <br />
          </div>
        </div>
      </div>
    </tbody>
  </table>
</div>
