<div class="container" style="margin-right: -25px;">
  <div class="container">
    <div class="row justify-content-end" style="margin-left: -20px; margin-bottom: 10px;">
      <div class="col-12">
        <button type="button" (click)="onCheckoutClick()" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          style="margin-right: 15px;">
          Checkout
        </button>
        <button type="button" (click)="clean()" class="btn btn-sm btn-primary">
          Clean
        </button>
      </div>
    </div>
  </div>
  <app-proceed-checkout-modal></app-proceed-checkout-modal>
  <table class="table table-success table-borderless">
    <tbody>
      <div class="container">
        <div class="row">
          <div *ngFor="let item of cartItens; let idx = index" class="col-12">
            <app-checkout-item [product]="item" [index]="idx"></app-checkout-item>
            <br />
          </div>
        </div>
      </div>
    </tbody>
  </table>
</div>
